*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


hr{
  border: 1px solid rgb(230, 227, 227);
  width: 100%;
  margin: 0;
}


body{
  line-height: 1.6;
  color: black;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

:root{
  --primary-color:rgb(189, 189, 226)
}

a{
  text-decoration: none;
}

a:hover{
  transform: scale(0.90)
}

a.active{
  border-bottom: 2px solid black;
}

ul{
  list-style: none;
}

h1, h2{
  line-height: 1.2;
  font-weight: 300;
  margin: 10px 0;
}

p{
  margin: 10px 0;
  font-size: 16px;
}

.logo img{
  height: 80px;
  width: 80px;
}

.navbar{
  background-color: rgb(189, 189, 226);
  color: black;
  height: 160px;
}

.navbar b{
  font-size: 30px;
  text-align: center;
}

.navbar ul{
  display:flex;
  padding-top: 10px;
}

.navbar a{
  color: black;
  padding: 5px 15px;
  margin: 10px;
  font-size: 17px;
}

.navbar a:hover{
  border-bottom: 2px solid black;
}

.navbar .flex{
  justify-content: space-between;
}

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: row;
}

@media (max-width: 800px){
  .flex{
    flex-direction: column;
  }
}

.contact {
  margin: 20px;
  padding-top: 50px;
}


.contact p {
  margin-left: 20px;
  margin-right: 20px;
}

.contact h1 {
  padding-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
}

.showcase-form{
  position: relative;
  top: 60px;
  height: 500px;
  width: 300px;
  padding: 50px;
  z-index: 80;
  background-color: var(--primary-color);
  border-radius: 40px;
  text-align: center;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  margin-left: 40px;
  text-align: center;
  display: block;
}

#form {
  text-align: center;
}

.showcase-form h1{
  text-align: center;
}


.showcase-form .form-control{
  margin: 30px 0;
}

.showcase-form input[type='text'],
.showcase-form textarea[name='message'],
.showcase-form input[type='email']{
   border: 0;
   width: 100%;
   padding: 15px;
   font-size: 16px;
   border-radius: 20px;
}

.showcase-form input:focus,
.showcase-form textarea:focus{
  outline: none;
}

.btn{
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  background:var(--primary-color);
  color: black;
  border: 3px solid white;
  border-radius: 10px;
  margin-top: 15px;
}

.btn-outline{
  background-color: black;
}

.btn:hover{
  transform: scale(0.90);
}

.media {
  padding-bottom: 400px;
  padding-top: 300px;
  padding: 5px;
}

.media i{
  color: blue;
  padding: 10px;
}

.media p {
  font-size: 19px;
}

.media a{
   padding: 1px;
}


.hide {
  margin: 30px;
  padding: 40px;
  background-color: var(--primary-color);
  border-radius: 30px;
  display: none;
}

.hide b {
  float: right;
}

.footer{
  background-color: var(--primary-color);
  margin-top: 20px;
  width: 100%;
}

.footer img{
  margin-left: 30px;
  margin-top: 30px;
  width: 70px;
}

.footer h1, p{
  text-align: left;
  margin-left: 30px;
  color: black;
}

.footer div{
  text-decoration: underline black;
}

.footer b{
  text-align: center;
  margin-left: 30px ;
  color: black;
  font-size: 14px;
}