* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

hr {
  border: 1px solid rgb(230, 227, 227);
  width: 100%;
  margin: 0;
}

body {
  line-height: 1.6;
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

:root {
  --primary-color: rgb(189, 189, 226);
}

a {
  text-decoration: none;
}

a:hover {
  transform: scale(0.9);
}

ul {
  list-style: none;
}

h1,
h2 {
  line-height: 1.2;
  font-weight: 300;
  margin: 10px 0;
}

p {
  margin: 10px 0;
  font-size: 16px;
}

.body {
  margin-left: 25%;
  margin-right: 25%;
}

.logo img {
  width: 40px;
  margin: 10px;
  margin-left: 40px;
  line-height: 50px;
}

.navbar {
  background-color: white;
  overflow: hidden;
  height: 80px;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  width: 100%;
}

/* .navbar h1 {
  font-size: 20px;
  align-items: center;
  line-height: 50px;
} */

.navbar a {
  color: black;
  padding: 10px;
  margin: 0 5px;
}

.navbar a:hover {
  color: var(--primary-color);
}

.navbar .bar {
  display: noe;
}

.navbar a.active {
  color: var(--primary-color);
}

.navbar ul {
  display: none;
}

.navbar nav a {
  font-size: 30px;
  color: var(--primary-color);
}

.navbar .flex {
  justify-content: space-between;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.side-nav {
  float: right;
  display: block;
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: var(--primary-color);
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s ease;
}

.side-nav a {
  padding: 10px 10px 10px 30px;
  font-size: 17px;
  display: block;
  transition: 0.3s ease;
  color: black;
}

.side-nav a:hover {
  color: white;
}

.side-nav a.active {
  color: white;
}

.side-nav .btn-close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 40px;
  float: right;
  color: white;
}



.dropdown .dropdown-content {
  display: none;
}

.dropdown .dropdown-content li {
  background-color: rgb(179, 179, 235);
  padding-left: 30px;
}

.dropdown .dropdown-content a {
  color: white;
  padding-right: 40px;
  font-size: 14px;
}

.dropdown .dropdown-content li:hover {
  background-color: rgb(155, 155, 245);
}

.dropdown li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown span {
  font-size: 55px;
}

.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  font-size: 55px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-right: 15px;
  cursor: pointer;
  font-size: 55px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  margin-right: 15px;
  cursor: pointer;
  font-size: 55px;
  display: none;
}

.showcase {
  margin: 20px;
  padding-top: 50px;
}

.showcase p {
  margin-left: 20px;
  margin-right: 20px;
}

.showcase h1,
h2 {
  padding-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
}

.showcase span {
  color: blue;
  margin: 20px;
}

.example-showcase {
  width: 50%;
  padding: 10px;
  margin: auto;
  border: 2px solid red;
}

.example1 {
  background-color: var(--primary-color);
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
}

.example1 img {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 5px;
}

.clr {
  clear: both;
}
.example-image-showcase img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.example2 {
  background-color: var(--primary-color);
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
}

.example2 img {
  border-radius: 5px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 5px;
}

.example3 img {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 5px;
}

.example4 img {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 5px;
}

.example5 img {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 5px;
}

.example6 img {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 5px;
}

.example7 img {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 5px;
}

.example-text-showcase {
  text-align: center;
  border: 2px solid red;
}

.example3 {
  margin: 20px;
  padding: 20px;
  background-color: var(--primary-color);
  border-radius: 20px;
}

.example-right-showcase {
  width: 300px;
  border: 2px solid red;
  float: right;
  right: 0px;
  padding: 10px;
}

.example4 {
  margin: 20px;
  padding: 20px;
  background-color: var(--primary-color);
  border-radius: 20px;
}

.example-padding-showcase {
  padding: 70px 0;
  border: 2px solid red;
  text-align: center;
}

.example5 {
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
  background-color: var(--primary-color);
}

.example-line-showcase {
  line-height: 200px;
  height: 200px;
  border: 2px solid red;
  text-align: center;
}

.example6 {
  background-color: var(--primary-color);
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
}

.example-flexbox-showcase {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  border: 2px solid red;
}

.example7 {
  background-color: var(--primary-color);
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
}

.media {
  padding-bottom: 400px;
  padding-top: 300px;
  padding: 5px;
}

.media i {
  color: blue;
  padding: 10px;
}

.media p {
  font-size: 19px;
  margin: 30px;
}

.media a {
  padding: 0;
  font-size: 35px;
  color: black;
  margin: 30px;
}


.btn {
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  background: var(--primary-color);
  color: black;
  border: 3px solid white;
  border-radius: 10px;
  margin-top: 15px;
}

.btn-outline {
  background-color: black;
}

.btn:hover {
  transform: scale(0.9);
}

.previous {
  text-align: center;
}

.previous a {
  color: black;
  background-color: var(--primary-color);
}

.previous.btn {
  background-color: var(--primary-color);
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: 4px solid white;
  outline: none;
  background-color: var(--primary-color);
  color: black;
  cursor: pointer;
  padding: 15px;
  border-radius: 20px;
  font-size: 18px;
}

#myBtn:hover {
  background-color: #555;
}
.footer {
  background-color: var(--primary-color);
  margin-top: 20px;
  width: 100%;
  height: 100%;
}

.footer img {
  width: 80px;
  margin-left: 30px;
  margin-top: 30px;
}

.footer h1 {
  text-align: left;
  margin-left: 30px;
  color: black;
}

.footer span {
  text-decoration: underline black;
}

.footer b {
  text-align: center;
  margin-left: 30px;
  color: black;
  font-size: 14px;
}

.footer .footer-closure {
  text-align: center;
}

.footer .blog-overview {
  padding: 10px;
  margin: 30px;
}

.footer .blog-overview h2 {
  text-align: center;
  text-decoration: underline white;
}

.footer .blog-overview .blog-links {
  text-align: center;
}

.footer .blog-overview .blog-links a {
  color: black;
  text-align: center;
  padding-top: 3px;
  font-size: 14px;
}

.footer .blog-overview .blog-links a:hover {
  border-bottom: 2px solid white;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes fontColor {
  50% {
    color: rgb(55, 55, 158);
  }

  100% {
    color: black;
  }
}