*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


hr{
  border:0.3px solid rgb(230, 227, 227);
  width: 100%;
  margin: 0;
}


body{
  line-height: 1.6;
  color: black;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

:root{
  --primary-color:rgb(189, 189, 226)
}

a{
  text-decoration: none;
}

a:hover{
  transform: scale(0.90)
}

a.active{
  border-bottom: 2px solid black;
}

ul{
  list-style: none;
}

li{
  margin: 12px;
}

h1, h2{
  line-height: 1.2;
  font-weight: 300;
  margin: 10px 0;
}

p{
  margin: 10px 0;
  font-size: 20px;
}

.logo img{
  height: 80px;
  width: 70px;
  margin-left: 15px;
}

.navbar{
  background-color: rgb(189, 189, 226);
  color: black;
  height: 170px;
}

.navbar p{
  font-size: 30px;
  text-align: center;
}

.navbar ul{
  display:flex;
}

.navbar a{
  color: black;
  padding: 10px;
  margin: 5px;
}

.navbar a:hover{
  border-bottom: 2px solid black;
}

.navbar .flex{
  justify-content: space-between;
}

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: row;
}

@media (max-width: 800px){
  .flex{
    flex-direction: column;
  }
}

.showcase {
  margin: 20px;
  padding-top: 60px;
}

.showcase h1 {
  margin: 20px;
}

.showcase span {
  color: blue;
  font-size: 20px;
  margin: 20px;
}

.example {
  background-color: var(--primary-color);
  border-radius: 20px;
  margin: auto;
  padding: 20px;
}


.btn{
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  background:var(--primary-color);
  color: black;
  border: 3px solid white;
  border-radius: 10px;
  margin-top: 15px;
}

.btn-outline{
  background-color: black;
}

.btn:hover{
  transform: scale(0.90);
}

.media {
  padding-bottom: 400px;
  padding-top: 300px;
  padding: 30px;
}

.media i{
  color: blue;
  padding: 20px;
}

.media p {
  font-size: 19px;
}

.media a{
   padding: 1px;
}

.previous{
  text-align: center;
}

.previous a{
  color: black;
  background-color: var(--primary-color);
}

.previous.btn{
  background-color: var(--primary-color);
}


/* Footer */
.footer{
  background-color: var(--primary-color);
  margin-top: 20px;
  width: 100%;
}

.footer img{
  width: 80px;
  margin-left: 30px;
  margin-top: 30px;
}

.footer h1, p{
  text-align: left;
  margin-left: 30px;
  color: black;
}

.footer div{
  text-decoration: underline black;
}

.footer b{
  text-align: center;
  margin-left: 30px ;
  color: black;
}

.foot {
  margin: 0;
}

.extra h1 {
  text-align: center;
  margin: 15px;
}


