*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


hr{
  border: 1px solid rgb(230, 227, 227);
  width: 100%;
  margin: 0;
}


body{
  line-height: 1.6;
  color: black;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

:root{
  --primary-color:rgb(189, 189, 226)
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}

h1, h2{
  line-height: 1.2;
  font-weight: 300;
  margin: 10px 0;
}

p{
  margin: 10px 0;
  font-size: 16px;
}


nav {
  background-color: var(--primary-color);
  height: 80px;
  width: 100%;
}

nav img {
  width: 50px;
  height: 50px;
  line-height: 80px;
  margin-top: 10px;
}

label.logo {
  font-size: 20px;
  line-height: 80px;
  padding: 0 10px;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: black;
  font-size: 17px;
  padding: 7px 15px;
}

 nav a.active, nav a:hover {
  border-bottom: 3px solid white;
}

.checkbtn {
  font-size: 25px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 20px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

.showcase {
  margin: 20px;
  padding-top: 30px;
}

.showcase p {
  margin-left: 20px;
  margin-right: 20px;
}

.showcase h1 {
  padding-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.showcase span {
  color: blue;
}

.showcase li {
  list-style-type: disc;
  margin-left: 20px;
  margin-right: 20px;
}

.showcase img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 40%;
}


@media (max-width: 952px) {
  label.logo {
    font-size: 18px;
  }

  nav {
    height: 70px;
  }

  nav img {
    width: 35px;
    height: 35px;
    margin-left: 5px;
  }

  nav ul li a {
    font-size: 16px;
  }

  .showcase li {
    font-size: 18px;
  }

  .showcase img {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }

  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: var(--primary-color);
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 20px;
  }

   nav a:hover, nav a.active {
    border-bottom: 3px solid white;
  }

  #check:checked ~ ul {
    left: 0;
  } 

  .showcase li {
    font-size: 18px;
  }

  .showcase img {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

