* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: rgb(189, 189, 226);
}

body {
  line-height: 1.6;
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

hr {
  border: 0.3px solid rgb(230, 227, 227);
  width: 100%;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,
h2 {
  line-height: 1.2;
  font-weight: 300;
  margin: 10px 0;
}

p {
  margin: 10px 0;
  font-size: 16px;
}

.body {
  margin-left: 25%;
  margin-right: 25%;
}

.logo img {
  width: 40px;
  margin: 10px;
  margin-left: 40px;
  line-height: 50px;
}

.navbar {
  background-color: white;
  overflow: hidden;
  height: 80px;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  width: 100%;
}

/* .navbar h1 {
  font-size: 20px;
  align-items: center;
  line-height: 50px;
} */

.navbar a {
  color: black;
  padding: 10px;
  margin: 0 5px;
}

.navbar a:hover {
  color: var(--primary-color);
}

.navbar .bar {
  display: noe;
}

.navbar a.active {
  color: var(--primary-color);
}

.navbar ul {
  display: none;
}

.navbar nav a {
  font-size: 30px;
  color: var(--primary-color);
}

.navbar .flex {
  justify-content: space-between;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.side-nav {
  float: right;
  display: block;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: var(--primary-color);
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s ease;
}

.side-nav a {
  padding: 10px 10px 10px 30px;
  font-size: 17px;
  display: block;
  transition: 0.3s ease;
  color: black;
}

.side-nav a:hover {
  color: white;
}

.side-nav a.active {
  color: white;
}

.side-nav .btn-close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 40px;
  float: right;
  color: white;
}

.alert {
  padding: 20px;
  background-color: var(--primary-color);
  color: black;
  margin-top: 100px;
  transition: 1.5s;
  text-align: center;
}

.closebtn {
  color: white;
  font-weight: bold;
  float: right;
  font-size: 40px;
  line-height: 20px;
  cursor: pointer;
  transition: 2s;
  animation: spin 10s linear infinite;
}

.closebtn:hover {
  color: white;
}

.btn {
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  background: rgb(189, 189, 226);
  color: black;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
}

.btn a {
  color: black;
}

.btn-outline {
  background-color: black;
}

.btn:hover {
  transform: scale(0.9);
}

.header .moving {
  padding-top: 60px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  color: white;
  width: 100%;
  height: 100%;
  padding: 1px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
  color: white;
  padding: 2px;
  display: block;
  font-size: 16px;
}

.show {
  display: block;
}

.callout-message {
  margin-top: 130px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  width: 60%;
  background-color: var(--primary-color);
  border-radius: 30px;
}

.callout-message p {
  color: white;
  text-align: center;
  padding: 10px;
}

.callout-message h3 {
  color: white;
  text-align: center;
}
.callout-message #close-message {
  font-size: 30px;
  cursor: pointer;
}

.section {
  margin-top: 100px;
}

.section span {
  color: blue;
}

.learning-section {
  margin-top: 40px;
}

.learning-section img {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.learning-section .img img {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.learning-section span {
  color: red;
}

.media {
  padding-bottom: 400px;
  padding-top: 300px;
  padding: 5px;
}

.media i {
  color: blue;
  padding: 10px;
}

.media p {
  font-size: 19px;
  margin: 30px;
}

.media a {
  padding: 0;
  font-size: 35px;
  color: black;
  margin: 30px;
}

.check-point {
  text-align: center;
}

/* Comment Section */
#response {
  margin-top: 40px;
}

#response input[type='text'],
#response input[type='email'],
#response textarea {
  margin-bottom: 10px;
  display: block;
  width: 100%;
  border: 2px solid var(--primary-color);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
  line-height: 1.4rem;
  padding: 8px;
  outline: none;
}

.footer {
  background-color: var(--primary-color);
  margin-top: 20px;
  width: 100%;
  height: 100%;
}

.footer img {
  width: 80px;
  margin-left: 30px;
  margin-top: 30px;
}

.footer h1 {
  text-align: left;
  margin-left: 30px;
  color: black;
}

.footer span {
  text-decoration: underline black;
}

.footer b {
  text-align: center;
  margin-left: 30px;
  color: black;
  font-size: 14px;
}

.footer .footer-closure {
  text-align: center;
}

.footer .blog-overview {
  padding: 10px;
  margin: 30px;
}

.footer .blog-overview h2 {
  text-align: center;
  text-decoration: underline white;
}

.footer .blog-overview .blog-links {
  text-align: center;
}

.footer .blog-overview .blog-links a {
  color: black;
  text-align: center;
  padding-top: 3px;
  font-size: 14px;
}

.footer .blog-overview .blog-links a:hover {
  border-bottom: 2px solid white;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes fontColor {
  50% {
    color: rgb(55, 55, 158);
  }

  100% {
    color: black;
  }
}
