@media (max-width: 952px) {
  .body {
    margin-left: 20px;
    margin-right: 20px;
  }

  .logo img {
    margin-left: 20px;
  }

  .alert {
    font-size: 10px;
  }

  .closebtn {
    font-size: 17px;
  }

  .navbar ul {
    display: none;
  }

  .navbar .bar {
    display: flex;
  }

  .wrapper .search-input {
    width: 80%;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  .autocom-box li {
    padding: 3px 5px;
    font-size: 14px;
  }

  .email-content {
    width: 80%;
    padding: 20px;
  }

  .email-content h3 {
    font-size: 13px;
    padding-bottom: 20px;
  }

  .email-content span {
    font-size: 30px;
  }

  .email-content .email-info {
    padding-bottom: 20px;
  }

  .email-content .email-info input[type='text'],
  .email-content .email-info input[type='email'] {
    padding: 8px;
    width: 100%;
  }
}

@media (max-width: 858px) {
  .body {
    margin-left: 5%;
    margin-right: 5%;
  }

  .wrapper .search-input {
    width: 80%;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  .autocom-box li {
    padding: 3px 5px;
    font-size: 14px;
  }
}
