@media (max-width: 952px) {
  .logo img {
    margin-left: 50px;
  }

  .alert {
    font-size: 10px;
  }

  .closebtn {
    font-size: 17px;
  }

  .navbar ul {
    display: none;
  }

  .navbar .bar {
    display: flex;
  }

  .wrapper .search-input {
    width: 80%;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  .autocom-box li {
    padding: 3px 5px;
    font-size: 14px;
  }
}

@media (max-width: 858px) {
  .wrapper .search-input {
    width: 80%;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  .autocom-box li {
    padding: 3px 5px;
    font-size: 14px;
  }
}
