@media (max-width: 952px) {
  .body {
    margin-left: 10%;
    margin-right: 10%;
  }

  .learning-section img {
    width: 100%;
  }
}

@media (max-width: 858px) {
  .body {
    margin-left: 10%;
    margin-right: 10%;
  }

  .learning-section img {
    width: 100%;
  }
}