* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: rgb(189, 189, 226);
}

body {
  line-height: 1.6;
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

hr {
  border: 0.3px solid rgb(230, 227, 227);
  width: 100%;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,
h2 {
  line-height: 1.2;
  font-weight: 300;
  margin: 10px 0;
}

p {
  margin: 10px 0;
  font-size: 16px;
}

nav {
  background-color: white;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
  height: 80px;
  width: 100%;
}

nav img {
  width: 30px;
  height: 30px;
  line-height: 80px;
  margin-top: 10px;
  /* animation: spin 10s linear infinite; */
}

label.logo {
  font-size: 17px;
  line-height: 80px;
  padding: 0 10px;
  font-weight: bold;
  animation: spin;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: black;
  line-height: 80px;
  font-size: 15px;
  padding: 7px 10px;
}

nav a.active,
nav a:hover {
  border-bottom: 3px solid white;
}

.checkbtn {
  font-size: 25px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 20px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

.alert {
  padding: 20px;
  background-color: var(--primary-color);
  color: black;
  margin-top: 30px;
  transition: 1.5s;
  text-align: center;
}

.closebtn {
  color: white;
  font-weight: bold;
  float: right;
  font-size: 40px;
  line-height: 20px;
  cursor: pointer;
  transition: 2s;
  animation: spin 10s linear infinite;
}

.closebtn:hover {
  color: white;
}

.btn {
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  background: rgb(189, 189, 226);
  color: black;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
}

.btn a {
  color: black;
}

.btn-outline {
  background-color: black;
}

.btn:hover {
  transform: scale(0.9);
}

.header .moving {
  padding-top: 60px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  color: white;
  width: 100%;
  height: 100%;
  padding: 1px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
  color: white;
  padding: 2px;
  display: block;
  font-size: 16px;
}

.show {
  display: block;
}

.search-box {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.search-box .search-content input {
  width: 300px;
  height: 30px;
  border-radius: 40px;
}

.search-contents {
  text-align: center;
  padding: 0;
  margin: 20px;
  background-color: white;
  /* box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2); */
}

.search-contents li {
  list-style: none;
}

.search-contents li a {
  padding: 0;
  margin: 0;
  color: black;
  padding-top: 4px;
}

.search-contents li a:hover {
  border-bottom: 2px solid var(--primary-color);
}

.head {
  margin: 20px;
  padding-top: 50px;
}

.head p {
  color: black;
  margin-left: 20px;
  margin-right: 20px;
}

.head h1 {
  padding-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
  animation: fontColor 5s ease-in-out infinite;
}

.head span {
  color: blue;
}

.head button {
  margin-left: 20px;
}

.media {
  padding-bottom: 400px;
  padding-top: 300px;
  padding: 5px;
}

.media i {
  color: blue;
  padding: 10px;
}

.media p {
  font-size: 19px;
}

.media a {
  padding: 1px;
}

.comment {
  margin: 20px;
  padding-top: 50px;
  text-align: center;
}

.comment p {
  color: black;
  margin-left: 20px;
  margin-right: 20px;
}

.comment h3 {
  padding-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
}

.form-comment-control textarea,
input {
  border: 2px solid var(--primary-color);
  border-radius: 20px;
  padding: 20px;
  outline: none;
}

.comment-body {
  padding: 20px;
  margin-top: 0;
  margin: 20px;
  border: 2px solid var(--primary-color);
  border-radius: 20px;
}

.comment2 {
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 0;
}

.user-name {
  float: right;
  margin-right: 30px;
  margin-top: 0;
}

.footer {
  background-color: var(--primary-color);
  margin-top: 20px;
  width: 100%;
  height: 100%;
}

.footer img {
  width: 80px;
  margin-left: 30px;
  margin-top: 30px;
}

.footer h1 {
  text-align: left;
  margin-left: 30px;
  color: black;
}

.footer span {
  text-decoration: underline black;
}

.footer b {
  text-align: center;
  margin-left: 30px;
  color: black;
  font-size: 14px;
}

.footer .footer-closure {
  text-align: center;
}

.footer .blog-overview {
  padding: 10px;
  margin: 30px;
}

.footer .blog-overview h2 {
  text-align: center;
  text-decoration: underline white;
}

.footer .blog-overview .blog-links {
  text-align: center;
}

.footer .blog-overview .blog-links a {
  color: black;
  text-align: center;
  padding-top: 3px;
  font-size: 14px;
}

.footer .blog-overview .blog-links a:hover {
  border-bottom: 2px solid white;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes fontColor {
  50% {
    color: rgb(55, 55, 158);
  }

  100% {
    color: black;
  }
}
