*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root{
  --primary-color: rgb(189, 189, 226);
}

body{
  line-height: 1.6;
  color: black;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

hr{
  border:0.3px solid rgb(230, 227, 227);
  width: 100%;
  margin: 0;
}

a{
  text-decoration: none;
}

a:hover{
  transform: scale(0.90)
}

a.active{
  border-bottom: 2px solid black;
}

ul{
  list-style: none;
}

h1, h2{
  line-height: 1.2;
  font-weight: 300;
  margin: 10px 0;
}

p{
  margin: 10px 0;
  font-size: 16px;
}

nav {
  background-color: var(--primary-color);
  height: 100px;
  width: 100%;
}

nav img {
  width: 50px;
  height: 50px;
  line-height: 80px;
  margin-top: 10px;
}

label.logo {
  font-size: 20px;
  line-height: 80px;
  padding: 0 10px;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: black;
  font-size: 17px;
  padding: 7px 15px;
}

a.active,a:hover {
  border-bottom: 3px solid white;
}

.checkbtn {
  font-size: 25px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 20px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 952px) {
  label.logo {
    font-size: 18px;
  }

  nav img {
    width: 35px;
    height: 35px;
    margin-left: 5px;
  }

  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: var(--primary-color);
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 20px;
  }

  a:hover,a.active {
    border-bottom: 3px solid white;
  }

  #check:checked ~ ul {
    left: 0;
  } 
}

.alert {
  padding: 20px;
  background-color: var(--primary-color);
  color: black;
  margin-top: 50px;
  transition: 1.5s;
  text-align: center;
}

.closebtn {
  color: white;
  font-weight: bold;
  float: right;
  font-size: 40px;
  line-height: 20px;
  cursor: pointer;
  transition: 2s;
}

.closebtn:hover{
  color: white;
}

.btn{
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  background: rgb(189, 189, 226);
  color: black;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px ;
}

.btn a{
  color: black;
}

.btn-outline{
  background-color: black;
}

.btn:hover{
  transform: scale(0.90);
}

.header .moving{
  padding-top: 60px;
}

.head{
  margin: 20px;
  padding-top: 50px;
}

.head p{
  color: black;
  margin-left: 20px;
  margin-right: 20px;
}

.head h1{
  padding-top: 40px;
  margin-left: 20px;
  margin-right: 20px;

}

.head span{
  color: blue;
}

.head button{
  margin-left: 20px;
}

.media {
  padding-bottom: 400px;
  padding-top: 300px;
  padding: 5px;
}

.media i{
  color: blue;
  padding: 10px;
}

.media p {
  font-size: 19px;
}

.media a{
   padding: 1px;
}


.comment{
  margin: 20px;
  padding-top: 50px;
  text-align: center;
}

.comment p{
  color: black;
  margin-left: 20px;
  margin-right: 20px;
}

.comment h3{
  padding-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
}

.form-comment-control textarea, input {
  border: 2px solid var(--primary-color);
  border-radius: 20px;
  padding: 20px;
  outline: none;
}

.comment-body {
  padding: 20px;
  margin-top: 0;
  margin: 20px;
  border: 2px solid var(--primary-color);
  border-radius: 20px;
}

.comment2 {
   padding: 10px;
   margin-bottom: 20px;
   margin-top: 0;
}

.user-name {
  float: right;
  margin-right: 30px;
  margin-top: 0;
}


.footer{
  background-color: var(--primary-color);
  margin-top: 20px;
  width: 100%;
}

.footer img{
  width: 80px;
  margin-left: 30px;
  margin-top: 30px;
}

.footer h1, p{
  text-align: left;
  margin-left: 30px;
  color: black;
}

.footer div{
  text-decoration: underline black;
}

.footer b{
  text-align: center;
  margin-left: 30px ;
  color: black;
  font-size: 14px;
}
